---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About the project">
  <h1 class="text-white font-semibold text-center">About the project</h1>

  <p class="text-white font-semibold text-center">The SpaceX launches project is a deno for the Astro course</p>
</Layout>
